.header {
  width: 100%; /* 幅を100%に */
  border-bottom: 1px solid #E9E9E9; /* ヘッダー下に線を追加 */
}

.header__inner {
  display: flex;
  justify-content: center; /* 子要素を中央揃え */
  align-items: center; /* 垂直方向も中央揃え */
  margin: 0 auto; /* 水平に中央に配置 */
  padding: 20px 15px; /* .header__inner 内のコンテンツ（ロゴ）の余白を追加 */
  max-width: 1230px; /* 横幅が広すぎないように制限 */
  width: 100%; /* 幅を100%にして画面幅に応じて縮小 */
}

.header__logo {
  color: #897767;
  text-decoration: none; /* ロゴに下線が付かないように */
  font-weight: bold;
  font-size: 34px;
  font-family: serif;
}

.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.confirm__heading {
  color: #897767;
  font-size: 20px;
  font-family: serif;
  margin-bottom: 40px; /* フォーム達とちょっと間空ける */
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 30%;
  border-bottom: 1px solid #ddd;
  color: #fff;
  background-color: #baa899;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
  color: #897767;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
